In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time

import os
from pprint import pprint

In [11]:
monthly_energy_price = "Resources/Average_Price_of_Electricity_to_Ultimate_Customers_by_End-Use Sector.csv"
monthly_energy_price_pd = pd.read_csv(monthly_energy_price, encoding="ISO-8859-1")
monthly_energy_price_pd.head()

,ï»¿Year,Month,Residential,Commercial,Industrial,Transportation,All Sectors
0,2017,January,12.21,10.21,6.59,9.39,10.13
1,2017,February,12.79,10.48,6.63,9.50,10.28
2,2017,March,12.89,10.46,6.71,9.49,10.28
3,2017,April,12.72,10.40,6.60,9.46,10.07
4,2017,May,13.07,10.59,6.78,9.61,10.34

In [12]:
yearly_energy_price = "Resources/Annual_Summary_Avg_Cost_Sector_09-19.csv"
yearly_energy_price_pd = pd.read_csv(yearly_energy_price, encoding="ISO-8859-1")
yearly_energy_price_pd.head()

,ï»¿Annual_Totals,Residential,Commercial,Industrial,Transportation,All Sectors
0,2009,11.51,10.16,6.83,10.66,9.82
1,2010,11.54,10.19,6.77,10.56,9.83
2,2011,11.72,10.24,6.82,10.46,9.90
3,2012,11.88,10.09,6.67,10.21,9.84
4,2013,12.13,10.26,6.89,10.55,10.07

In [25]:
yearly_generation = "Resources/annual_generation_state.csv"
yearly_generation_pd = pd.read_csv(yearly_generation, encoding="ISO-8859-1")
yearly_generation_pd = yearly_generation_pd.loc[yearly_generation_pd["Energy Source"]!="Total"]
yearly_generation_pd.replace(',','', regex=True, inplace=True)
yearly_generation_pd["Generation (Megawatthours)"] = yearly_generation_pd["Generation (Megawatthours)"].astype(float)
yearly_generation_pd = yearly_generation_pd.rename(columns = {'ï»¿Year':"Year"})

yearly_generation_pd.to_csv("Resources/annual_generation_state_clean.csv")
yearly_generation_pd.head()

,Year,State,Producer Type,Energy Source,Generation (Megawatthours)
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0
5,1990,AK,Total Electric Power Industry,Wind,0.0

In [24]:
yearly_capacity = "Resources/existcapacity_annual (1).csv"
yearly_capacity_pd = pd.read_csv(yearly_capacity, encoding="ISO-8859-1")
yearly_capacity_pd = yearly_capacity_pd.loc[yearly_capacity_pd["Energy Source"]!="All Sources"]
yearly_capacity_pd.replace(',','', regex=True, inplace=True)
yearly_capacity_pd['Generators'] = yearly_capacity_pd['Generators'].replace(np.nan, 0)
yearly_capacity_pd['Facilities'] = yearly_capacity_pd['Facilities'].replace(np.nan, 0)
yearly_capacity_pd = yearly_capacity_pd.rename(columns = {'ï»¿Year':"Year"})

yearly_capacity_pd.to_csv("Resources/existcapacity_annual_clean.csv")
yearly_capacity_pd.head(100)

,Year,State,Producer Type,Energy Source,Generators,Facilities,Nameplate Capacity (Megawatts),Summer Capacity (Megawatts)
1,1990,AK,Combined Heat and Power Commercial Power,Coal,0,3,65.5,61.1
2,1990,AK,Combined Heat and Power Commercial Power,Petroleum,0,1,20.4,19
4,1990,AK,Combined Heat and Power Industrial Power,Natural Gas,0,28,159.3,136.7
5,1990,AK,Combined Heat and Power Industrial Power,Petroleum,0,8,68.3,65.9
6,1990,AK,Combined Heat and Power Industrial Power,Wood and Wood Derived Fuels,0,2,1.8,1.7
...,...,...,...,...,...,...,...,...
117,1990,CA,Electric Generators Independent Power Producers,Hydroelectric,0,51,578.7,563.5
118,1990,CA,Electric Generators Independent Power Producers,Natural Gas,0,8,52,48.5
119,1990,CA,Electric Generators Independent Power Producers,Other Biomass,0,0,359.3,333.3
120,1990,CA,Electric Generators Independent Power Producers,Other Gases,0,1,1.2,1.2
121,1990,CA,Electric Generators Independent Power Producers,Petroleum,0,0,102.5,95.3